= javascript_include_tag 'tracker'
= javascript_include_tag 'update_order_status'
%h3 Track your order in real time

.canvas_wrapper
  %canvas#canvas_status{ :width => "1000", :height => "200"} 
    #order_status{:data  => {:session_id => @order.session_id}}= @order.status.capitalize
