.span3
  .order
    %b Order no: 
    = link_to order.session_id, order_path(order)
    %b Placed at: 
    = order.created_at
    %b Status:
    = order.status.capitalize
    %form{ :method => 'link', :action => order_path(order) }
      %input.btn{ :type => 'submit', :value => 'Update status' }

