.span3
  .item.item_block
    %h4= item.name
    = item.description
    %br/
    %form{ :method => 'link', :action => item_path(item) }
      %input.btn.order_btn{ :type => 'submit', :value => 'Order' }
