%h3 Your order
.row.order_item
  %b.span1 Item
  %b.span1 Quantity
  %b.span1 Price
- order = RetrievesOrders.find_existing(request.session_options[:id])
- if order
  - order.item_orders.each do |item_order|
    .row.order_item
      .span1= item_order.item.name
      .span1= item_order.quantity
      .span1= Prices.for_item_order(item_order)
.row.order_item
  %b.span2 Total Price
  .span1= Prices.for_order(order)
.row
  %input.btn.place_order_btn{ :type => 'submit', :value => 'Place order' }
